[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Charts
Exec=/usr/bin/invoker --type=d -s /opt/Charts/bin/Charts
Icon=/usr/share/icons/hicolor/80x80/apps/Charts80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
